ul.nav.nav-pills.nav-stacked.panel.panel-body
  li(class=(title == 'Home' ? 'active' : null))
    a(href='/') Home
  li(class=(title == 'Profile' ? 'active' : null))
    a(href='/profile') Profile
  li
    a(href='/logout') Logout
