extends ../layout

block content
  div.panel.col-xs-12.col-sm-3.col-sm-offset-4
    div.panel-body
      form(method='post' action='')
        div.form-group(class=(errors && errors.name ? 'has-error' : ''))
          input#name.form-control(type='text', placeholder='Name' name='name' required='true' value=(user ? user.name : ''))
          if errors && errors.name
            div.help-block.with-errors=errors.name.msg
        div.form-group(class=(errors && errors.email ? 'has-error' : ''))
          input#email.form-control(type='text', placeholder='Email' name='email' required='true' value=(user ? user.email : ''))
          if errors && errors.email
            div.help-block.with-errors=errors.email.msg
        div.form-group(class=(errors && errors.password ? 'has-error' : ''))
          input#password.form-control(type='password', placeholder='Password' name='password' required='true')
          if errors && errors.password
            div.help-block.with-errors=errors.password.msg
        div.form-group(class=(errors && errors.confirmPassword ? 'has-error' : ''))
          input#confirm-password.form-control(type='password', placeholder='Confirm password' name='confirmPassword' required='true')
          if errors && errors.confirmPassword
            div.help-block.with-errors=errors.confirmPassword.msg
        button.btn.btn-default.full-width(type='submit') Sign up
      hr
      a.btn.btn-primary.full-width(type='submit')(href='/login') Login
